<div class="login-form">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.input :email, autofocus: true, required: true %>
    <%= f.input :password, label: 'Mot de passe', required: true %>
    <%= f.input :remember_me, label: 'se souvenir de moi', as: :boolean if devise_mapping.rememberable? %>

    <%= f.button :submit, 'Se connecter' %>
  <% end %>
</div>
