<% if places.total_count > 0 %>
  <div>
    <h2 id="places-count" data-count="<%= places.total_count %>">
      <%= pluralize(places.total_count, results_one, plural: results_other) %>
    </h2>

    <div class="cards-container">
      <%= render places %>
    </div>

    <nav class="pagination">
      <%= link_to_previous_page places, '<span>Précédente</span>'.html_safe, params: paginate_params %>
      <%= link_to_next_page places, '<span>Suivante</span>'.html_safe, params: paginate_params %>
    </nav>
  </div>
<% else %>
  <div class="places-none">
    <h2>Oh. Aucun résultat.</h2>
    <p>
      Aucun lieu ne correspond à votre recherche. Essayez peut être de chercher
      avec des termes plus génériques ? Si vous avez cherché le nom d'un lieu dont vous êtes le propriétaire, vous
      pouvez l'ajouter à la liste, c'est gratuit !
    </p>
    <%= link_to 'Ajouter un lieu', new_place_path, class: 'add-place' %>
    ou
    <%= link_to 'revenir à la liste complète', places_path %>
  </div>
<% end %>
