<%= f.error_notification %>

<section class="form-section">
  <div class="form-labels">
    <h3>Informations générales</h3>
    <p class="hint">
      Choisissez bien le type de lieu, c'est grace à cette information que nos
      utilisateurs vous trouveront !
    </p>
  </div>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :kind,
                collection: Kind.all,
                label_method: lambda { |kind| kind[:name] },
                value_method: lambda { |kind| kind[:id] } %>
    <%= f.input :url %>
    <%= f.input :twitter_name %>
    <%= f.input :logo_url %>
  </div>
</section>

<hr>

<section class="form-section">
  <div class="form-labels">
    <h3>Description</h3>
    <p class="hint">
      Décrivez le lieu en quelques mots. Vous pouvez utiliser du markdown pour
      ajouter du style.
    </p>
  </div>
  <div class="form-inputs">
    <%= f.input :description, required: true, input_html: { rows: 10 } %>
  </div>
</section>

<hr>

<section class="form-section">
  <div class="form-labels">
    <h3>Adresse</h3>
    <p class="hint">
      Le lieu sera automatiquement placé sur la carte en fonction de l'adresse
      saisie, veillez donc à ce que les informations soient correctes.
    </p>
  </div>
  <div class="form-inputs">
    <%= f.input :street %>
    <div class="place-form-address">
      <%= f.input :zip_code %>
      <%= f.input :city %>
    </div>
  </div>
</section>

<hr>

<section class="form-section">
  <div class="form-labels">
    <h3>Contact</h3>
    <p class="hint">
      Nous vérifierons que vous êtes bien le responsable du lieu avec ces
      informations. L'email doit correspondre à l'adresse de votre site web.
    </p>
  </div>
  <div class="form-inputs">
    <%= f.input :owner_name, required: true %>
    <%= f.input :owner_email, required: true %>
  </div>
</section>
