<%= f.error_notification %>

<section class="form-section">
  <div class="form-labels">
    <h3>Informations générales</h3>
    <p class="hint">
      Choisissez bien le type de lieu, c'est grace à cette information que nos
      utilisateurs vous trouveront !
    </p>
  </div>
  <div class="form-inputs">
    <%= f.input :name, label: 'Nom du lieu' %>
    <%= f.input :kind,
                label: 'Type',
                collection: Kind.all %>
    <%= f.input :url, label: 'Site web' %>
    <%= f.input :twitter_name, label: 'Compte Twitter' %>
    <%= f.input :logo_url, label: 'Url du logo' %>
  </div>
</section>

<hr>

<section class="form-section">
  <div class="form-labels">
    <h3>Description</h3>
    <p class="hint">
      Décrivez le lieu en quelques mots. Vous pouvez utiliser du markdown pour
      ajouter du style.
    </p>
  </div>
  <div class="form-inputs">
    <%= f.input :description,
                label: 'Description',
                required: true,
                input_html: { rows: 10 } %>
  </div>
</section>

<hr>

<section class="form-section">
  <div class="form-labels">
    <h3>Adresse</h3>
    <p class="hint">
      Le lieu sera automatiquement placé sur la carte en fonction de l'adresse
      saisie, veillez donc à ce que les informations soient correctes.
    </p>
  </div>
  <div class="form-inputs">
    <%= f.input :street, label: 'Numéro et rue' %>
    <div class="place-form-address">
      <%= f.input :zip_code, label: 'Code postal' %>
      <%= f.input :city, label: 'Ville' %>
    </div>
  </div>
</section>

<hr>

<section class="form-section">
  <div class="form-labels">
    <h3>Contact</h3>
    <p class="hint">
      Nous vérifierons que vous êtes bien le responsable du lieu avec ces
      informations. L'email doit correspondre à l'adresse de votre site web.
    </p>
  </div>
  <div class="form-inputs">
    <%= f.input :owner_name, label: 'Votre nom', required: true %>
    <%= f.input :owner_email, label: 'Votre adresse email', required: true %>
  </div>
</section>
