<%= f.error_notification %>

<div class="row">
  <div class="small-12 large-4 columns">
    <h3><%= t('places.titles.general_informations') %></h3>
    <p class="hint"><%= t('places.hints.general_informations') %></p>
  </div>
  <div class="small-12 large-8 columns">
    <%= f.input :name, autofocus: true %>
    <%= f.input :kind,
                collection: Kind.all,
                label_method: lambda { |kind| kind[:name] },
                value_method: lambda { |kind| kind[:id] } %>
    <%= f.input :url %>
    <%= f.input :twitter_name %>
    <%= f.input :logo_url %>
  </div>
</div>

<hr />

<div class="row">
  <div class="small-12 large-4 columns">
    <h3><%= t('places.titles.description') %></h3>
    <p class="hint"><%= t('places.hints.description') %></p>
  </div>
  <div class="small-12 large-8 columns">
    <%= f.input :description, required: true, input_html: { rows: 10 } %>
  </div>
</div>

<hr />

<div class="row">
  <div class="small-12 large-4 columns">
    <h3><%= t('places.titles.address') %></h3>
    <p class="hint"><%= t('places.hints.address') %></p>
  </div>
  <div class="small-12 large-8 columns">
    <%= f.input :street %>
    <div class="row">
      <div class="small-4 columns">
        <%= f.input :zip_code %>
      </div>
      <div class="small-8 columns">
        <%= f.input :city %>
      </div>
    </div>
  </div>
</div>

<hr />

<div class="row">
  <div class="small-12 large-4 columns">
    <h3><%= t('places.titles.contact_informations') %></h3>
    <p class="hint"><%= t('places.hints.contact_informations') %></p>
  </div>
  <div class="small-12 large-8 columns">
    <%= f.input :owner_name, required: true %>
    <%= f.input :owner_email, required: true %>
  </div>
</div>
