<article class="place-card">
  <%= link_to place_path(place) do %>
    <%= image_tag place.header_image %>
  <% end %>
  <header>
    <h4>
      <%= link_to place_path(place) do %>
        <%= place.name %>
      <% end %>
    </h4>
    <span><%= t("kinds.codes.#{place.kind}") %></span>
  </header>

  <footer>
    <p class="url"><%= link_to normalize_url(place.url), normalize_url(place.url), target: '_blank' %></p>
    <p class="updated-at">
      <%= fa_icon('clock-o') %>
      <time datetime="<%= place.updated_at %>">
        Il y a <%= time_ago_in_words(place.updated_at) %>
      </time>
    </p>
  </footer>
</article>
