<div id="map-app" class="row full-height">
  <div id="map" class="full-height small-12 large-9 columns"></div>
  <div id="panel" class="full-height small-12 large-3 columns">
    <h1>Techlist #<%= ENV['CITY'] %></h1>
    <ul class="tabs">
      <li class="small-6 tab-title active"><%= link_to t(:filter), '#filter' %></li>
      <li class="small-6 tab-title"><%= link_to t(:add), '#add' %></li>
    </ul>
    <div id="filter">
      <ul class="filters-list">
        <% Place::KINDS.each do |kind| %>
          <li class="kind-<%= kind %>">
            <%= check_box('filter', kind) %>
            <%= t(kind) %> <span class="kind-counter">(0)</span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
