<div class="row">
  <div class="small-12 medium-10 columns medium-centered">
    <h2><%= t('places.messages.add_a_place') %></h2>
    <hr />

    <%= simple_form_for(@place) do |f| %>

      <%= render partial: 'form', locals: { f: f } %>

      <div class="submit">
        <%= f.button :submit, t('places.messages.add_the_place') %>
        <%= t('places.messages.or') %>
        <%= link_to t('places.messages.back_to_map'), root_path %>
      </div>

    <% end %>
  </div>
</div>
