<%
  content_for(:meta_title, truncate("#{@place.name} | #{@place.normalized_city}", length: 70))
  content_for(:meta_description, truncate(@place.description, length: 155))
  content_for(:meta_city, @place.normalized_city)
  content_for(:meta_twitter_account, @place.twitter_name)
%>

<section class="show-place">
  <header class="place-header">
    <div class="container">
      <div class="place-logo">
        <%= image_tag @place.logo_url if @place.logo_url? %>
      </div>
      <h1><%= @place.name %></h1>
    </div>
  </header>

  <section class="place-details">
    <div class="container">
      <span>
        <%= fa_icon('tag') %>
        <%= t("kinds.codes.#{@place.kind}") %>
      </span>
      <span>
        <%= fa_icon('map-marker') %>
        <%= @place.normalized_city %>
      </span>
      <span class="place-website">
        <%= link_to @place.url, target: '_blank' do %>
          <%= fa_icon('external-link') %>
          <%= @place.url %>
        <% end %>
      </span>
    </div>
  </section>

  <section class="place-description">
    <div class="container">
      <% if @place.description? %>
        <%= markdown @place.description %>
      <% else %>
        <p class="blank-slate">
          Oh, il semble bien que nous n'ayons pas encore d'informations sur <strong><%= @place.name %></strong>. Vous pouvez
          nous les transmettre par fax, minitel ou signaux de fumée, mais le plus simple reste
          <%= link_to "d'aller là", edit_place_path(@place) %>.
        </p>
      <% end %>
    </div>
  </section>

  <section class="place-contact">
    <div class="container">
      <h2>Contacter <%= @place.name %></h2>
      <p>
        Vous pouvez contacter <%= @place.name %> via le
        <%= link_to @place.url, target: '_blank' do %>
          <%= fa_icon('external-link') %>
          site web
        <% end %>
        <% if @place.twitter_name? %>
          ou sur
          <%= link_to "http://twitter.com/#{@place.twitter_name}" do %>
            <%= fa_icon('twitter') %>
            Twitter
          <% end %>
        <% end %>
        .
      </p>
      <p>
        À moins que vous ne préfériez vous rendre directement sur place,
        <%= map_link_to @place %> ?
      </p>
    </div>
  </section>

  <section class="place-location">
    <%= tag :div, class: 'place-map', data: { latitude: @place.latitude, longitude: @place.longitude } %>
  </section>

  <section class="place-edit">
    <div class="container">
      <h2>Des informations ont changé ?</h2>

      <p>Cette page a été mise à jour le <time datetime="<%= @place.updated_at %>"><%= l @place.updated_at, format: :date %></time>.</p>
      <p>Si ce lieu a changé depuis, n'hésitez pas à le mettre à jour, ça ne prend que quelques secondes !</p>

      <%= link_to edit_place_path(@place) do %>
        Mettre à jour ce lieu
      <% end %>
    </div>
  </section>
</section>
