<%
meta_city = (yield :meta_city).presence || ENV.fetch('CITY').capitalize
meta_title = (yield :meta_title).presence || t('meta.title', city: meta_city)
meta_description = (yield :meta_description).presence || t('meta.description', count: @places_count)
meta_image = (yield :meta_image).presence || image_url('map-icon.png')
meta_twitter_account = (yield :meta_twitter_account).presence || ENV['TWITTER_ACCOUNT']
%>

<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>" />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="<%= meta_title %>">
    <meta itemprop="description" content="<%= meta_description %>">
    <meta itemprop="image" content="<%= meta_image %>">

    <!-- Twitter Card data -->
    <meta name="twitter:card" value="summary">
    <meta name="twitter:site" content="@<%= ENV['TWITTER_ACCOUNT'] %>" >
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="@<%= meta_twitter_account %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">

    <!-- Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_city %>" />

    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false" %>
  </head>

  <body>
    <%= render 'navigation' %>

    <main>
      <%= yield %>
    </main>

    <%= render 'footer' %>

    <%= render 'javascript' %>
    <%= render 'analytics' %>
  </body>
</html>
